@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

@import url('https://fonts.googleapis.com/css?family=Great+Vibes');

@import
	url('https://fonts.googleapis.com/css?family=Mountains+of+Christmas');

@import url('https://fonts.googleapis.com/css?family=Dosis');

div {
	font-family: 'Dosis', cursive;
	font-size: 105%;
}

h1 {
	font-family: 'Mountains of Christmas', cursive;
	font-size: 2em;
	text-align: center;
	background: #ff3232;
	padding: 0.15em;
}

legend {
	font-size: 120%;
	font-family: 'Mountains of Christmas', cursive;
}

fieldset {
	border-style: solid;
	border-color: #555;
	border-radius: 1em;
	margin-bottom: 0.5em;
}

input[type=number] {
	font-family: 'Dosis', cursive;
	font-weight: bold;
	padding-left: 1.5em;
	margin-left: 1em;
	border-radius: 0.5em;
	width: 3em;
}

#products {
	float: left;
	width: 40%;
	margin-left: 1em;
}

#shopper {
	float: right;
	width: 40%;
	margin-right: 5em;
}

#cartProducts {
	float: left;
	width: auto;
}

#cartPrice {
	float: right;
	right: 1em;
	text-align: right;
}

button {
	font-family: 'Dosis', cursive;
	font-weight: bold;
	font-size: 0.9em;
	margin-top: 1em;
	padding: 0.5em;
	
	background-color: #FF3232;
	border-radius: 1em;
	border: 2px solid black;
}

button:hover {
	background-color: #FF4748;
}

.fieldsetHidden {
	display: none;
}

#response {

}